<!DOCTYPE html>
<html ng-app="profPage" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fernando Figueira Filho</title>

    <link href="linker/style/custom.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="linker/style/bootstrap.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script><!-- load angular -->
    <script src="core.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="mainController">

    <!--<div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>
          Software is pervasive in our everyday lives. My research strives to understand how software is shaping our culture, and how it might change even further the way we collaborate and develop our society. In academic terms, my work lies in the borderline between software engineering and computer supported cooperative work (CSCW).</p>
          <p>
          I am head of the Cooperative Interaction Lab &#8212; Coopera &#8212; at the <a href="http://www.ufrn.br" target="_blank">Federal University of Rio Grande do Norte</a> (Natal, Brazil). We are an interdisciplinary group of researchers seeking to find implications for the design of software that empowers people to cooperate more effectively and creatively. 
          </p>

          <p>I completed my PhD from <a href="http://www.unicamp.br" target="_blank">University of Campinas</a>, Brazil, with collaborative period at the <a href="http://www.uci.edu" target="_blank">University of California, Irvine</a>, and worked as a Postdoctoral Fellow at the <a href="http://www.uvic.ca" target="_blank">University of Victoria, Canada</a>.</p>
        </div>
      </div>
    </div>-->

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Publications</h1>

          You currently have {{ pubs.length }} publications.

          <p>
          <div ng-repeat="pub in pubs">
              {{ pub.name }}. {{ pub.game }}. {{ pub.pontuacao }}. 
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>