<div class="container">
	<div class="jumbotron">
		<h1>Ranking</h1>

		<h2>preparando api para a disciplina Desenvolvimento Web</h2>
		<a href="/rank/new" class="btn btn-lg btn-success">Accept now!</a>
	</div>
</div>